body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('vitaminok.hatter.jpg');
    background-size: auto;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.vitamin-image {
    display: block;
    margin-top: 15px;
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#vitamin {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}